    body {
        font-family: Roboto, sans-serif;
        display: flex;
        flex-direction: column;
        margin: 0px;
        justify-content: space-between;
    }
    ul {
        list-style-type: none;
        display: flex;
        gap: 8px;
        margin-left: auto;
    }

    a {
        text-decoration: none;
    }

    .information,
    .quote,
    .action {
        flex: 1;
        padding: 25px 100px;
    }

    .header,
    .footer {
        display: flex;
        flex: 0 0 auto;
        background-color: #1f2937;
        color: #e5e7eb;
        font-size: 18px;
    }

    .header {
        flex-direction: column;
        justify-content: space-evenly;
        padding: 0px 100px;
        padding-bottom: 16px;
    }

    .header-bar,
    .header-hero,
    .information-content {
        display: flex;
        align-items: center;
    }

    .information {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
    }

    .icon.img {
        width: 50px;
        height: 50px;
        border-color: black;
    }

    .quote {
        background-color: #e5e7eb;
    }

    .quote .text {
        color: #1f2937;
        font-size: 36px;
        font-style: italic;
    }

    .quote .author {
        font-size: 24px;
        font-weight: bolder;
        text-align: right;
    }

    .box {
        display: flex;
        justify-content: space-evenly;
        background-color: #2882f6;
        padding: 24px;
    }
    .footer {
        justify-content: center;
        align-items: center;
        flex: 0 0 auto;
        margin-bottom: 0;
        padding: 25px;
    }